[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pseudobibeR"]
	path = pseudobibeR
	url = https://github.com/browndw/pseudobiber
